**/*.checked
cmb_md5sums.txt
**/*.sh
module.pm.tmpl
**/*.pl
**/*.pm
*.gz
*.log
*.tmp
.\#*
\#*
*.diffs
*.lst
extra-files
extra-files.mk
provides
resources
bin/cpan-maker-bootstrapper
*.tdy
*.raw
**/*.crit
**/*.pod
*-review-2*.code
*-review-2*.pod
*-review-2*.annotate
bin/bootstrapper
*.bak
bin/cmb
buildspec.yml.current
local/
