project:
  description: @MODULE_NAME@
  author:
    name: @GIT_NAME@
    mailto: @GIT_EMAIL@
pm_module: @MODULE_NAME@
min-perl-version: @MIN_PERL_VERSION@
dependencies:
  requires: requires
  test_requires: test-requires
path:
  pm_module: lib
  exe_files: bin
  tests: t
extra-files:
  - ChangeLog
  - share:
      - README.md
resources:
  homepage: http://github.com/@GITHUB_USER@/@PROJECT_NAME@.git
  bugtracker:
    web: http://github.com/@GITHUB_USER@/@PROJECT_NAME@/issues
    mailto: @GIT_EMAIL@
  repository:
    url: git://github.com/@GITHUB_USER@/@PROJECT_NAME@.git
    web: http://github.com/@GITHUB_USER@/@PROJECT_NAME@.git
    type: 'git'
